/* Basic Style/Positioning for all Pages */
body { overflow-x: hidden; /* Hide the other pages */ }

.pages,
.page,
.page .backbutton,
.page .nextbutton  { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.page h1 { margin-top: 4em; /* Make it show below the nav */ }   

.page .backbutton,
.page .nextbutton { width: 50%; }

.page .nextbutton { left: auto; right: 0; }

/* Pages */
#i2 { left: 100%; }
#i3 { left: 200%; }


/* Slide Effect */
.pages {
-webkit-transition: left 0.8s;
-moz-transition: left 0.8s;
-o-transition: left 0.8s;
-ms-transition: left 0.8s;
transition: left 0.8s;
margin-top:80px;
}

#a1:target .pages { left: 0%; }
#a2:target .pages { left: -100%; }
#a3:target .pages { left: -200%; }

/* Top Navigation */
.asdnav {
display: block;
position: fixed;
z-index: 1;
top: 0;
left: 0;
right: 0;
}


nav a {
  -moz-transition: background .3s;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  -ms-transition: background .3s;
  transition: background .3s;
}

nav a:last-child { width: 34%; }
/* nav a:hover { background-color: #444; } */

#a1 nav a.slide { background-color: #7E9234; color: #fff; }

#a2:target nav a.slide,
#a3:target nav a.slide { background-color: #143D55; color: #fff; }

#a1:target nav a:first-child,
#a2:target nav a:nth-child(2),
#a3:target nav a:last-child{ background-color: #7E9234; color: #fff; }

#a1:target nav a:first-child li,
#a2:target nav a:nth-child(2) li,
#a3:target nav a:last-child li{ text-decoration: underline; }


/* This is just make them less ugly 
body { font-family: sans-serif; text-align: center; }
h1 { font-size: 2em; }
#i1 {  }
#i2 {  }
#i3 {  }